* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F6FBF4;
}

h1,
h3 {
    color: #4B8673;
}

hr {
    border-style: none;
    color: #F5DF99;
    border-top-style: dotted;
    border-width: 5px;
    margin-left: 40%;
    margin-right: 40%;
    size: 5px;

}