
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F6FBF4;
}

h1,
h3 {
    color: #4B8673;
}

hr {
    border-style: none;
    color: #F5DF99;
    border-top-style: dotted;
    border-width: 5px;
    margin-left: 40%;
    margin-right: 40%;
    size: 5px;
    
}
.head{
    text-align: center;

}
.p{
    color: #ff0303;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    font-weight: bolder;
    text-decoration: underline;
}
.phello{
    letter-spacing: 7px;
}
#hill{
    width: 100%;
}
#cloud{
    position: relative;
    right: 12%;
   margin-top: 4%;
   margin-bottom: 1%;
   
}
#cloud2{
    position: relative;
    left: 16%;
}
.paname{
    font-family: 'Lemonada', cursive;
}
.middle{
  text-align: center;
}
#pimg{
    height: 250px;
    margin: -10% auto 3% auto;
    
}
